$primary-color-dark:   #512DA8;
$primary-color:        #673AB7;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #9E9E9E;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$error-color:          #f44336;
$success-color:        #4caf50;

$primary: $primary-color-dark;

$universal-padding: 1.5em;
$gap: ($universal-padding / 3);

.skewed {
  height: 200px;
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 100%);
  background: $primary-color;
  transition: clip-path 500ms ease;
}

.skewed:hover {
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 40%);
}

.bordered {
  padding: $gap;
  border: 1px solid $primary-color;
  border-radius: $gap $gap $gap $gap;
  color: $primary-text-color;
}

@import "../../node_modules/bootstrap/scss/bootstrap";

* {
  padding: 0;
  margin: 0;
}

