<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <slot name="topBar" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <slot name="content" />
      </div>
      <div class="col-md-3">
        <slot name="sidebar" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "BaseLayout"
};
</script>