<template>
  <div>
    <ErrorPopup
      v-model="showNotification"
      :error-message="errorMessage"
    />
    <div class="skewed" />
    <div class="container content text-center">
      <div class="row align-items-start justify-content-center">
        <div class="col-sm-4">
          <h1 class="bordered">
            Create a subreddit
          </h1>
        </div>
      </div>
      <div class="form-controls">
        <div class="input-control row justify-content-center">
          <BorderedInput
            v-model="title"
            placeholder="Name"
          />
        </div>
        <div class="input-control row justify-content-center">
          <div class="col-sm-4">
            <textarea
              id="exampleFormControlTextarea1"
              v-model="description"
              maxlength="200"
              class="form-control bordered"
              placeholder="Content"
              rows="3"
            />
          </div>
        </div>
        <div class="input-control row justify-content-center">
          <OutlineButtonFullWidth @click="handleSubCreation">
            Create subreddit
          </OutlineButtonFullWidth>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import OutlineButtonFullWidth from "../components/OutlineButtonFullWidth.vue";
import BorderedInput from "../components/BorderedInput.vue";
import {createSubreddit, subscribe} from "@/api/subreddit";
import ErrorPopup from "@/components/ErrorPopup";

export default {
  name: "CreateSub",
  components: {ErrorPopup, OutlineButtonFullWidth, BorderedInput},
  data() {
    return {
      title: "",
      description: "",
      showNotification: false,
      errorMessage: ""
    };
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    }
  },
  watch: {
    isLoggedIn(value) {
      if (!value) this.$router.push({path: "/login"});
    }
  },
  methods: {
    async handleSubCreation() {
      try {
        const createdSub = await createSubreddit(
          this.title,
          this.description,
          this.$store.state.email,
          this.$store.state.password
        ).then(res => res.data);
        this.$store.commit("subscribe", createdSub.subName);
        await this.$router.push({path: `/r/${createdSub.subName}`});
      } catch (e) {
        this.showNotification = true;
        this.errorMessage = e.response.data.message;
      }
    }
  }
};
</script>

<style scoped lang="scss">

.form-controls {
  .input-control {
    margin-bottom: $gap;
  }
}

.content {
  padding: $universal-padding;
}

.bordered {
  padding: $gap;
  border: 1px solid $primary-color;
  border-radius: $gap $gap $gap $gap;
  color: $primary-text-color;
}

</style>
