<template>
  <div>
    <ErrorPopup
      v-model="showNotification"
      :error-message="errorMessage"
    />
    <div class="skewed" />
    <div class="container content text-center">
      <div class="row align-items-start justify-content-center">
        <div class="col-sm-4">
          <h1 class="bordered">
            Create a post
          </h1>
        </div>
      </div>
      <div class="form-controls">
        <div class="input-control row justify-content-center">
          <BorderedInput
            v-model="title"
            placeholder="Title"
          />
        </div>
        <div class="input-control row justify-content-center">
          <div class="col-sm-4">
            <textarea
              id="exampleFormControlTextarea1"
              v-model="content"
              class="form-control bordered"
              placeholder="Content"
              rows="3"
            />
          </div>
        </div>
        <div>
          <div class="input-control form-check form-check-inline">
            <input
              id="inlineRadio1"
              v-model="postType"
              value="text-only"
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
            >
            <label
              class="form-check-label"
              for="inlineRadio1"
            >Text only</label>
          </div>
          <div class="input-control form-check form-check-inline">
            <input
              id="inlineRadio2"
              v-model="postType"
              class="form-check-input"
              type="radio"
              value="image-file"
              name="inlineRadioOptions"
            >
            <label
              class="form-check-label"
              for="inlineRadio2"
            >Image file</label>
          </div>
          <div class="input-control form-check form-check-inline">
            <input
              id="inlineRadio3"
              v-model="postType"
              value="image-url"
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
            >
            <label
              class="form-check-label"
              for="inlineRadio3"
            >Image URL</label>
          </div>
          <div class="input-control form-check form-check-inline">
            <input
              id="inlineRadio4"
              v-model="postType"
              value="video"
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
            >
            <label
              class="form-check-label"
              for="inlineRadio4"
            >Video</label>
          </div>
        </div>
        <div
          v-if="postType === `image-file`"
          class="input-control row justify-content-center"
        >
          <div class="col-sm-12 text-center">
            <input
              ref="fileInput"
              hidden
              accept="image/*"
              type="file"
              @change="fileChange"
            >
            <i class="file-name">{{ fileName }}</i>
            <div class="row justify-content-center">
              <OutlineButtonFullWidth
                @click="$refs.fileInput.click()"
              >
                Choose file
              </OutlineButtonFullWidth>
            </div>
          </div>
        </div>
        <div
          v-if="postType === `image-url`"
          class="input-control row justify-content-center"
        >
          <BorderedInput
            v-model="imageUrl"
            input-type="url"
            placeholder="Image URL"
          />
        </div>
        <div
          v-if="postType === `video`"
          class="input-control row justify-content-center"
        >
          <BorderedInput
            v-model="videoUrl"
            input-type="url"
            placeholder="Video URL"
          />
        </div>
        <div class="input-control row justify-content-center">
          <OutlineButtonFullWidth @click="handlePostSubmit">
            Create post
          </OutlineButtonFullWidth>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {uploadFile} from "../api/media.js";
import OutlineButtonSecondary from "../components/OutlineButtonSecondary.vue";
import OutlineButtonFullWidth from "../components/OutlineButtonFullWidth.vue";
import BorderedInput from "../components/BorderedInput.vue";
import {getSubreddit} from "@/api/subreddit";
import {createPost} from "@/api/post";
import ErrorPopup from "@/components/ErrorPopup";

export default {
  name: "CreatePost",
  components: {ErrorPopup, OutlineButtonFullWidth, BorderedInput},
  data() {
    return {
      title: "",
      content: "",
      imageUrl: "",
      imageFile: null,
      videoUrl: "",
      postType: "text-only",
      showNotification: false,
      errorMessage: "",
    };
  },
  computed: {
    fileName() {
      return this.imageFile === null || this.imageFile.length < 1
        ? "No file chosen"
        : this.imageFile[0].name;
    },
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    }
  },
  watch: {
    isLoggedIn(value) {
      if (!value) this.$router.push({path: "/login"});
    }
  },
  methods: {
    fileChange(e) {
      this.imageFile = e.target.files;
    },
    async resolvePostType() {
      const base = {
        imageUrl: null,
        videoUrl: null
      };
      switch (this.postType) {
        case "image-file":
          const uploaded = await uploadFile(this.imageFile);
          const filename = uploaded.data.filename;
          return {
            ...base,
            imageUrl: filename
          };
        case "image-url":
          return {
            ...base,
            imageUrl: this.imageUrl
          };
        case "video":
          return {
            ...base,
            videoUrl: this.videoUrl
          };
        default:
          return base;
      }
    },
    validateImageUrl() {
      try {
        new URL(this.imageUrl);
        return true;
      } catch (e) {
        return false;
      }
    },
    validateImageFile() {
      return this.imageFile !== null && this.imageFile.length > 0;
    },
    async handlePostSubmit() {
      try {
        if (this.postType === "image-url" && !this.validateImageUrl()) {
          this.errorMessage = "Image link is not valid";
          this.showNotification = true;
          return;
        }
        if (this.postType === "image-file" && !this.validateImageFile()) {
          this.errorMessage = "Please select a file";
          this.showNotification = true;
          return;
        }
        const subName = this.$route.params.subName;
        const currentSub = await getSubreddit(
          subName,
          this.$store.state.email,
          this.$store.state.password
        ).then(res => res.data);
        const resolvedPost = await this.resolvePostType();
        const post = {
          title: this.title,
          content: this.content,
          subredditId: currentSub.subredditId,
          ...resolvedPost
        };
        const createdPost = await createPost(
          post,
          this.$store.state.email,
          this.$store.state.password
        ).then(res => res.data);
        await this.$router.push({path: `/r/${subName}/${createdPost.id}`});
      } catch (e) {
        this.errorMessage = e.response.data.message;
        this.showNotification = true;
      }
    }
  }
};
</script>

<style scoped lang="scss">

$gap: ($universal-padding / 3);

.form-controls {
  .input-control {
    margin-bottom: $gap;
  }
}

.content {
  padding: $universal-padding;
}

.skewed {
  height: 200px;
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 100%);
  background: $primary-color;
  transition: clip-path 500ms ease;
}

.skewed:hover {
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 40%);
}

.bordered {
  padding: $gap;
  border: 1px solid $primary-color;
  border-radius: $gap $gap $gap $gap;
  color: $primary-text-color;
}

</style>
