<template>
  <base-layout>
    <template #sidebar>
      <div class="sidebar">
        <div v-if="isLoggedIn">
          <h5 v-if="isLoggedIn">
            Your very own front page tailored just for your needs
          </h5>
          <outline-button-full-width
            class="col-sm-12"
            @click="navigateToCreateSub"
          >
            Create your own community!
          </outline-button-full-width>
        </div>
        <h3 v-else>
          Front page of the Internet
        </h3>
        <h6 class="text-center">
          Sort by:
        </h6>
        <outline-button-full-width
          class="col-sm-12"
          @click="handleOldestToNewest"
        >
          Oldest to newest
        </outline-button-full-width>
        <outline-button-full-width
          class="col-sm-12"
          @click="handleNewestToOldest"
        >
          Newest to oldest
        </outline-button-full-width>
      </div>
    </template>
    <template #content>
      <div class="content">
        <div v-if="posts.length < 1">
          <h3>
            There doesn't appear to be anything here...
          </h3>
          Search and subscribe to some subs
          <router-link to="/search">
            here
          </router-link>
          to fill this space up!
        </div>
        <post-list v-model="posts" />
        <div class="pagination-wrapper row">
          <outline-button-full-width
            v-if="hasNext"
            class="col-sm-12 pag-button"
            @click="handlePagination(page + 1)"
          >
            Next page [{{ page + 1 }}]
          </outline-button-full-width>
          <outline-button-full-width
            v-if="hasPrevious"
            class="col-sm-12 pag-button"
            @click="handlePagination(page - 1)"
          >
            Previous page [{{ page - 1 }}]
          </outline-button-full-width>
        </div>
      </div>
    </template>
  </base-layout>
</template>

<script>
import OutlineButtonFullWidth from "../components/OutlineButtonFullWidth.vue";
import PostList from "../components/PostList.vue";
import BaseLayout from "./BaseLayout.vue";
import {getAllSubreddits} from "@/api/subreddit";
import {paginatePosts} from "@/api/post";
import {io} from "socket.io-client";
import {API} from "@/api/common";
import {Protocol} from "@/enums/Protocol";

export default {
  name: "HomePage",
  components: {BaseLayout, OutlineButtonFullWidth, PostList},
  data() {
    return {
      socket: null,
      page: 1,
      hasNext: false,
      hasPrevious: false,
      sortOrder: "DESC",
      subsToDisplay: [],
      posts: []
    };
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    }
  },
  watch: {
    async isLoggedIn(value) {
      if (value) {
        this.subsToDisplay = this.$store.state.subs;
        await this.paginate(1);
      } else {
        const subs = await getAllSubreddits();
        this.subsToDisplay = subs.data.map(s => s.subName);
        await this.paginate(1);
      }
    }
  },
  async created() {
    this.socket = io(API);
    this.socket.on(Protocol.deletePost, postId => {
      this.posts = this.posts.filter(p => p.id !== Number(postId));
    });
    if (this.$store.getters.isLoggedIn) {
      this.subsToDisplay = this.$store.state.subs;
      await this.paginate(1);
    } else {
      const subs = await getAllSubreddits();
      this.subsToDisplay = subs.data.map(s => s.subName);
      await this.paginate(1);
    }
  },
  methods: {
    async paginate(page) {
      const [postPage, hasNext, hasPrevious] = await paginatePosts(
        this.subsToDisplay,
        page,
        this.$store.state.email,
        this.$store.state.password,
        this.sortOrder
      );
      this.hasNext = hasNext;
      this.hasPrevious = hasPrevious;
      this.posts = postPage;
      this.page = page;
    },
    handlePagination(page) {
      window.scrollTo(0, 0);
      const delay = this.posts.length * 65;
      setTimeout(() => this.paginate(page), delay);
    },
    navigateToCreateSub() {
      this.$router.push({path: "/createSub"});
    },
    handleOldestToNewest() {
      this.sortOrder = "ASC";
      this.handlePagination(1);
    },
    handleNewestToOldest() {
      this.sortOrder = "DESC";
      this.handlePagination(1);
    },
  }
};
</script>

<style lang="scss" scoped>

.pagination-wrapper {
  .pag-button {
    margin-top: $gap;
  }
}

.sidebar {
  padding: ($gap * 2);
  background-color: $primary-color-light;
}

.sidebar > * {
  margin-bottom: ($gap / 2);
}

.content {
  padding: ($gap * 3);
}

.content > * {
  margin-bottom: ($gap * 2);
}

</style>

