<template>
  <div>
    <ErrorPopup
      v-model="showNotification"
      :error-message="errorMessage"
    />
    <div class="skewed" />
    <div class="container content text-center">
      <div class="row align-items-start justify-content-center">
        <div class="col-sm-4">
          <h1 class="bordered">
            Sign in.
          </h1>
        </div>
      </div>
      <div class="form-controls">
        <div class="row justify-content-center">
          <BorderedInput
            v-model="email"
            placeholder="Email"
          />
        </div>
        <div class="row justify-content-center">
          <BorderedInput
            v-model="password"
            input-type="password"
            placeholder="Password"
          />
        </div>
        <div class="row justify-content-center">
          <OutlineButtonFullWidth @click="login">
            Login
          </OutlineButtonFullWidth>
        </div>
        <div class="row justify-content-center">
          <OutlineButtonSecondary @click="register">
            Don't have an account yet?
          </OutlineButtonSecondary>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {loginRequest} from "@/api/auth";
import {getSubscribedToSubs} from "@/api/subreddit";
import OutlineButtonSecondary from "../components/OutlineButtonSecondary.vue";
import OutlineButtonFullWidth from "../components/OutlineButtonFullWidth.vue";
import BorderedInput from "../components/BorderedInput.vue";
import ErrorPopup from "@/components/ErrorPopup";

export default {
  name: "Login",
  components: {ErrorPopup, OutlineButtonSecondary, OutlineButtonFullWidth, BorderedInput},
  data() {
    return {
      email: "",
      password: "",
      showNotification: false,
      errorMessage: ""
    };
  },
  created() {
    if (this.$store.getters.isLoggedIn) this.$router.push({path: "/"});
  },
  methods: {
    async login() {
      try {
        const loginRes = await loginRequest(this.email, this.password);
        const subs = await getSubscribedToSubs(this.email, this.password);
        this.$store.commit("loginUser", {
          email: this.email,
          password: this.password,
          user: loginRes.data,
          subs: subs.data.map(s => s.subName)
        });
        await this.$router.push("/");
      } catch (e) {
        console.log(e.response.data);
        if (e.response.data === "Unauthorized") {
          this.errorMessage = "Not valid credentials";
        } else {
          this.errorMessage = e.response.data.message;
        }
        this.showNotification = true;
      }
    },
    register() {
      this.$router.push("register");
    }
  }
};
</script>

<style scoped lang="scss">

.form-controls > * {
  margin-bottom: $gap;
}

.content {
  padding: $universal-padding;
}

</style>
