<template>
  <div class="content container-fluid">
    <h3>Couldn't find what you just requested.</h3>
    <div>It may be that:</div>
    <div>- it has been deleted</div>
    <div>- it was never really here</div>
    <div>
      <router-link to="/">
        ... go back to front page
      </router-link>
    </div>
  </div>
</template>

<style scoped lang="scss">

.content {
  padding: $universal-padding;
}

</style>
