<template>
  <div class="container-fluid wrapper">
    <ErrorPopup
      v-model="showNotification"
      :error-message="errorMessage"
    />
    <ConfirmationDialog
      v-model="showDeletionDialog"
      title="Delete comment?"
      @yes="confirmDeletion"
    />
    <base-layout>
      <template #content>
        <div class="content">
          <PostList
            v-model="post"
            :show-comment-button="false"
          />
        </div>
      </template>
      <template #sidebar>
        <div class="sidebar">
          <template v-if="isLoggedIn">
            <textarea
              v-model="commentToSubmit"
              maxlength="200"
              class="form-control comment-editor"
              placeholder="Comment"
              rows="3"
            />
            <outline-button-full-width
              class="col-sm-12"
              @click="submitComment"
            >
              Submit comment
            </outline-button-full-width>
          </template>
          <h5 v-else>
            Log in to participate in the discussion.
          </h5>
        </div>
      </template>
    </base-layout>
    <h6
      v-if="comments.length < 1"
      class="text-center"
    >
      No comments here... Yet!
    </h6>
    <div
      v-for="comment in comments"
      :key="comment.id"
      class="comment-container col-md-9"
    >
      <Comment
        :id="comment.id"
        :content="comment.content"
        :user-id="comment.userId"
        :post-id="comment.postId"
        :sub-mod-id="comment.subModId"
        :user="comment.user"
        :is-privileged="comment.isPrivileged"
        @delete="handleDelete"
      />
    </div>
  </div>
</template>

<script>
import {io} from "socket.io-client";
import {API} from "@/api/common";
import {getPostComments, deleteComment, createComment} from "@/api/comment";
import {getPostById} from "@/api/post";
import {Protocol} from "@/enums/Protocol";
import PostList from "@/components/PostList";
import Comment from "@/components/Comment";
import BaseLayout from "@/views/BaseLayout";
import ConfirmationDialog from "@/components/ConfirmationDialog";
import OutlineButtonFullWidth from "@/components/OutlineButtonFullWidth";
import ErrorPopup from "@/components/ErrorPopup";

export default {
  name: "PostPage",
  components: {ErrorPopup, OutlineButtonFullWidth, BaseLayout, Comment, PostList, ConfirmationDialog},
  data() {
    return {
      socket: null,
      showNotification: false,
      errorMessage: "",
      showDeletionDialog: false,
      focusedComment: null,
      commentToSubmit: "",
      comments: [],
      post: [],
    };
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    }
  },
  async created() {
    try {
      this.socket = io(API);
      const postId = this.$route.params.postId;
      const fetchedPost = await getPostById(
        postId,
        this.$store.state.email,
        this.$store.state.password
      );
      const fetchedComments = await getPostComments(
        postId,
        this.$store.state.email,
        this.$store.state.password
      );
      this.comments = fetchedComments.data;
      this.post = [fetchedPost.data];
      this.socket.emit(Protocol.join, Protocol.postRoom(postId));
      this.socket.on(Protocol.deletePost, id => {
        if (id === postId) this.$router.push({path: "/notfound"});
      });
      this.socket.on(Protocol.deleteComment, id => {
        this.comments = this.comments.filter(c => c.id !== Number(id));
      });
      this.socket.on(Protocol.addComment, comment => {
        const fetchedComment = {
          ...comment,
          isPrivileged:  this.$store.getters.currentUserId === comment.subModId
        };
        this.comments.unshift(fetchedComment);
      });
    } catch (e) {
      await this.$router.push({path: "/notfound"});
    }
  },
  beforeUnmount() {
    this.socket.disconnect();
  },
  methods: {
    handleDelete(comment) {
      this.focusedComment = this.findById(comment.id);
      this.showDeletionDialog = true;
    },
    confirmDeletion() {
      const postId = this.$route.params.postId;
      deleteComment(
        postId,
        this.focusedComment.id,
        this.$store.state.email,
        this.$store.state.password
      ).then(() => {
        this.focusedComment = null;
        this.showDeletionDialog = false;
      });
    },
    async submitComment() {
      try {
        const postId = this.$route.params.postId;
        await createComment(
          postId,
          this.commentToSubmit,
          this.$store.state.email,
          this.$store.state.password
        );
        this.commentToSubmit = "";
      } catch (e) {
        this.errorMessage = e.response.data.message;
        this.showNotification = true;
      }
    },
    findById(commentId) {
      return this.comments.filter(c => c.id === commentId)[0];
    }
  }
};
</script>

<style scoped lang="scss">
.comment-editor {
  margin-bottom: ($gap * 2);
  max-height: 200px;
}

.sidebar {
  padding: ($gap * 2);
  background-color: $primary-color-light;
}

.content {
  padding-top: 10px;
}

.comment-container {
  padding: 10px;
}
</style>
