<template>
  <div>
    <ErrorPopup
      v-model="showNotification"
      :error-message="errorMessage"
    />
    <div class="container content text-center">
      <div class="row align-items-start justify-content-center">
        <div class="col-sm-12">
          <h1>Your profile</h1>
          <h3>a place where you can...</h3>
        </div>
        <div class="col-sm-4" />
        <div class="form-controls">
          <div class="row justify-content-center">
            <h6>change your password</h6>
            <BorderedInput
              v-model="currentPassword"
              input-type="password"
              placeholder="Current password"
            />
          </div>
          <div class="row justify-content-center">
            <BorderedInput
              v-model="newPassword"
              input-type="password"
              placeholder="New password"
            />
          </div>
          <div class="row justify-content-center">
            <BorderedInput
              v-model="verifyPassword"
              input-type="password"
              placeholder="Verify password"
            />
          </div>
          <div class="row justify-content-center">
            <OutlineButtonFullWidth @click="handlePasswordUpdate">
              Save
            </OutlineButtonFullWidth>
          </div>
          <h3 v-if="isSuccess">
            Successfully updated password!
          </h3>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { updateUserPassword} from "../api/auth";
import BorderedInput from "../components/BorderedInput.vue";
import OutlineButtonFullWidth from "../components/OutlineButtonFullWidth.vue";
import ErrorPopup from "@/components/ErrorPopup";

export default {
  name: "Profile",
  components: {ErrorPopup, BorderedInput, OutlineButtonFullWidth},
  data() {
    return {
      showNotification: false,
      errorMessage: "",
      isSuccess: false,
      currentPassword: "",
      newPassword: "",
      verifyPassword: "",
    };
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    },
  },
  watch: {
    isLoggedIn(value) {
      if (!value) this.$router.push({path: "/login"});
    }
  },
  methods: {
    async handlePasswordUpdate() {
      try {
        await updateUserPassword(
          this.$store.state.email,
          this.currentPassword,
          this.newPassword,
          this.verifyPassword
        );
        this.$store.commit("updateCredentials", { email: this.$store.state.email, password: this.newPassword });
        this.currentPassword = "";
        this.newPassword = "";
        this.verifyPassword = "";
        this.isSuccess = true;
      } catch (e) {
        if (e.response.data === "Unauthorized") {
          this.errorMessage = "Current password doesn't match";
        } else {
          this.errorMessage = e.response.data.message;
        }
        this.showNotification = true;
      }
    }
  },
};
</script>

<style scoped lang="scss">
.full-width {
  width: 100%;
}

.form-controls > * {
  margin-bottom: $gap;
}

.content {
  padding: $universal-padding;
}

</style>
