<template>
  <div>
    <ErrorPopup
      v-model="showNotification"
      :error-message="errorMessage"
    />
    <div class="skewed" />
    <div class="container content text-center">
      <div class="row align-items-start justify-content-center">
        <div class="col-sm-4">
          <h1 class="bordered">
            Sign up.
          </h1>
        </div>
      </div>
      <div class="form-controls">
        <div class="row justify-content-center">
          <BorderedInput
            v-model="username"
            placeholder="Username"
          />
        </div>
        <div class="row justify-content-center">
          <BorderedInput
            v-model="email"
            placeholder="Email"
          />
        </div>
        <div class="row justify-content-center">
          <BorderedInput
            v-model="password"
            input-type="password"
            placeholder="Password"
          />
        </div>
        <div class="row justify-content-center">
          <BorderedInput
            v-model="repeatedPassword"
            input-type="password"
            placeholder="Repeated password"
          />
        </div>
        <div class="row justify-content-center">
          <OutlineButtonFullWidth @click="register">
            Register
          </OutlineButtonFullWidth>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { registerRequest } from "../api/auth.js";
import OutlineButtonFullWidth from "../components/OutlineButtonFullWidth.vue";
import BorderedInput from "../components/BorderedInput.vue";
import ErrorPopup from "@/components/ErrorPopup";


export default {
  name: "Register",
  components: {ErrorPopup, OutlineButtonFullWidth, BorderedInput },
  data () {
    return {
      showNotification: false,
      errorMessage: "",
      username: "",
      email: "",
      password: "",
      repeatedPassword: ""
    };
  },
  created() {
    if (this.$store.getters.isLoggedIn) this.$router.push({path: "/"});
  },
  methods: {
    async register () {
      try {
        await registerRequest(this.username, this.email, this.password, this.repeatedPassword);
        await this.$router.push("login");
      } catch (e) {
        this.errorMessage = e.response.data.message;
        this.showNotification = true;
      }
    }
  }
};
</script>

<style scoped lang="scss">

.full-width {
  width: 100%;
}

.form-controls > * {
  margin-bottom: $gap;
}

.content {
  padding: $universal-padding;
}
</style>
