<template>
  <div>
    <ErrorPopup
      v-model="showNotification"
      :error-message="errorMessage"
    />
    <div class="content text-center">
      <div class="row align-items-start justify-content-center">
        <div class="col-sm-12 col-md-8">
          <h1>
            Search your heart out
          </h1>
        </div>
      </div>
      <div class="form-controls">
        <div class="row justify-content-center">
          <BorderedInput
            v-model="query"
            placeholder="Query"
          />
        </div>
        <div class="form-check form-check-inline">
          <input
            id="inlineRadio1"
            v-model="searchType"
            value="posts"
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
          >
          <label
            class="form-check-label"
            for="inlineRadio1"
          >posts</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            id="inlineRadio2"
            v-model="searchType"
            value="subreddits"
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
          >
          <label
            class="form-check-label"
            for="inlineRadio2"
          >subreddits</label>
        </div>
        <div class="row justify-content-center">
          <OutlineButtonFullWidth @click="handleSearch">
            SEARCH!
          </OutlineButtonFullWidth>
        </div>
        <div class="col-sm-12 col-md-8 offset-md-2">
          <template
            v-if="showPosts"
          >
            <h3 v-if="isPostSearchEmpty && showResultMsg">
              No posts results for '{{ resultQuery }}' :(
            </h3>
            <PostList
              v-model="posts"
            />
          </template>
          <template v-else>
            <h3 v-if="isSubSearchEmpty && showResultMsg">
              No subreddit results for '{{ resultQuery }}'
            </h3>
            <sub-preview
              v-for="sub in subs"
              :key="sub.subredditId"
              :sub-name="sub.subName"
              :sub-desc="sub.subDescription"
            />
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import OutlineButtonFullWidth from "../components/OutlineButtonFullWidth.vue";
import BorderedInput from "../components/BorderedInput.vue";
import PostList from "../components/PostList.vue";
import {createSubreddit, getSubsContaining, subscribe} from "@/api/subreddit";
import {getPostsContaining} from "@/api/post";
import {io} from "socket.io-client";
import {API} from "@/api/common";
import {Protocol} from "@/enums/Protocol";
import SubPreview from "@/components/SubPreview";
import ErrorPopup from "@/components/ErrorPopup";

export default {
  name: "CreateSub",
  components: {ErrorPopup, SubPreview, OutlineButtonFullWidth, BorderedInput, PostList},
  data() {
    return {
      socket: null,
      query: "",
      showNotification: false,
      errorMessage: "",
      searchType: "posts",
      showPosts: true,
      showResultMsg: false,
      resultQuery: "",
      posts: [],
      subs: []
    };
  },
  computed: {
    isPostSearchEmpty() {
      return this.posts.length < 1;
    },
    isSubSearchEmpty() {
      return this.subs.length < 1;
    }
  },
  created() {
    this.socket = io(API);
    this.socket.on(Protocol.deletePost, postId => {
      this.posts = this.posts.filter(p => p.id !== Number(postId));
    });
  },
  beforeUnmount() {
    this.socket.disconnect();
  },
  methods: {
    async handleSearch() {
      if (this.query.trim().length < 1) {
        this.errorMessage = "Query is empty";
        this.showNotification = true;
        return;
      }
      if (this.searchType === "posts") {
        const posts = await getPostsContaining(this.query, this.$store.state.email, this.$store.state.password);
        this.showResultMsg = true;
        this.resultQuery = this.query;
        this.posts = posts.data;
        this.showPosts = true;
      } else {
        const subs = await getSubsContaining(this.query);
        this.showResultMsg = true;
        this.resultQuery = this.query;
        this.subs = subs.data;
        this.showPosts = false;
      }
    }
  }
};
</script>

<style scoped lang="scss">

.form-controls > * {
  margin-bottom: $gap;
}

.content {
  padding: $universal-padding;
}

</style>
