<template>
  <base-layout>
    <ErrorPopup
      v-model="showNotification"
      :error-message="errorMessage"
    />
    <template #sidebar>
      <div class="sidebar">
        <div>
          <h3>Welcome to /r/{{ info.subName }}</h3>
          <h6 v-if="!isEdited">
            {{ info.subDescription }}
          </h6>
          <textarea
            v-if="isEdited && isLoggedIn"
            id="exampleFormControlTextarea1"
            ref="descEditor"
            v-model="editedDescription"
            maxlength="200"
            class="form-control desc-editor"
            placeholder="Description"
            rows="3"
          />
        </div>
        <div class="side-actions">
          <outline-button-full-width
            v-if="info.isPrivileged && isLoggedIn"
            class="col-sm-12"
            @click="handleDescEdit"
          >
            <div v-if="!isEdited">
              Edit sub description
            </div>
            <div v-else>
              Save sub description
            </div>
          </outline-button-full-width>
          <outline-button-full-width
            v-if="isLoggedIn"
            class="col-sm-12"
            @click="navigateToCreate"
          >
            Submit a new post
          </outline-button-full-width>
          <outline-button-full-width
            v-if="!isSubbed && isLoggedIn"
            class="col-sm-12"
            @click="sub"
          >
            Subscribe to r/{{ info.subName }}
          </outline-button-full-width>
          <outline-button-full-width
            v-if="isSubbed && isLoggedIn"
            class="col-sm-12"
            @click="unsub"
          >
            Unsubscribe from r/{{ info.subName }}
          </outline-button-full-width>
        </div>
      </div>
    </template>
    <template #content>
      <div class="content">
        <div v-if="posts.length < 1">
          <h3>
            There doesn't appear to be anything here...
          </h3>
          Maybe you'll be the one to start?
        </div>
        <post-list v-model="posts" />
        <div class="pagination-wrapper row">
          <outline-button-full-width
            v-if="hasNext"
            class="col-sm-12"
            @click="handlePagination(page + 1)"
          >
            Next page [{{ page + 1 }}]
          </outline-button-full-width>
          <outline-button-full-width
            v-if="hasPrevious"
            class="col-sm-12"
            @click="handlePagination(page - 1)"
          >
            Previous page [{{ page - 1 }}]
          </outline-button-full-width>
        </div>
      </div>
    </template>
  </base-layout>
</template>

<script>
import OutlineButtonFullWidth from "../components/OutlineButtonFullWidth.vue";
import PostList from "../components/PostList.vue";
import BaseLayout from "./BaseLayout.vue";
import {getSubreddit, subscribe, unsubscribe, updateDesc} from "@/api/subreddit";
import {paginatePosts} from "@/api/post";
import {io} from "socket.io-client";
import {API} from "@/api/common";
import {Protocol} from "@/enums/Protocol";
import ErrorPopup from "@/components/ErrorPopup";

export default {
  name: "SubredditPage",
  components: {ErrorPopup, BaseLayout, OutlineButtonFullWidth, PostList},
  data() {
    return {
      unwatch: null,
      socket: null,
      showNotification: false,
      errorMessage: "",
      isEdited: false,
      editedDescription: "",
      info: {
        sub: null,
        subName: "",
        subDescription: "",
        isPrivileged: false
      },
      page: 1,
      hasNext: false,
      hasPrevious: false,
      posts: []
    };
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    },
    isSubbed() {
      return this.$store.getters.isSubbed(this.info.subName);
    }
  },
  watch: {
    isLoggedIn(value) {
      if (!value) {
        this.isEdited = false;
      }
    }
  },
  created() {
    this.socket = io(API);
    this.socket.on(Protocol.deletePost, postId => {
      this.posts = this.posts.filter(p => p.id !== Number(postId));
    });
    this.unwatch = this.$watch(
      () => this.$route.params,
      param => {
        if (param.subName) {
          this.fetchInitialData();
        }
      },
      {immediate: true}
    );
  },
  beforeUnmount() {
    this.socket.disconnect();
    this.unwatch();
  },
  methods: {
    async fetchInitialData() {
      const sub = await getSubreddit(
        this.$route.params.subName,
        this.$store.state.email,
        this.$store.state.password,
      ).catch(() => {
        this.$router.push({path: "/notfound"});
      });
      this.info.sub = sub.data;
      this.info.subName = sub.data.subName;
      this.info.subDescription = sub.data.subDescription;
      this.info.isPrivileged = sub.data.isPrivileged;
      this.isEdited = false;
      this.editedDescription = "";
      await this.paginate(1);
    },
    async paginate(page) {
      const [postPage, hasNext, hasPrevious] = await paginatePosts(
        [this.info.subName],
        page,
        this.$store.state.email,
        this.$store.state.password
      );
      this.hasNext = hasNext;
      this.hasPrevious = hasPrevious;
      this.posts = postPage;
      this.page = page;
    },
    handlePagination(page) {
      window.scrollTo(0, 0);
      const delay = this.posts.length * 65;
      setTimeout(() => this.paginate(page), delay);
    },
    navigateToCreate() {
      this.$router.push({path: `/r/${this.info.subName}/create`});
    },
    sub() {
      subscribe(this.info.subName, this.$store.state.email, this.$store.state.password)
        .then(() => this.$store.commit("subscribe", this.info.subName))
        .catch(err => window.alert(JSON.stringify(err.response.data.message)));
    },
    unsub() {
      unsubscribe(this.info.subName, this.$store.state.email, this.$store.state.password)
        .then(() => this.$store.commit("unsubscribe", this.info.subName))
        .catch(err => window.alert(err.response.data.message));
    },
    async handleDescEdit() {
      if (!this.isEdited) {
        this.isEdited = !this.isEdited;
        this.editedDescription = this.info.subDescription;
      } else {
        try {
          await updateDesc(
            this.info.subName,
            this.editedDescription,
            this.$store.state.email,
            this.$store.state.password
          );
          this.info.subDescription = this.editedDescription;
          this.isEdited = !this.isEdited;
        } catch (e) {
          this.isEdited = !this.isEdited;
          this.errorMessage = e.response.data.message;
          this.showNotification = true;
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>

.desc-editor {
  margin-bottom: ($gap * 2);
}

.pagination-wrapper > * {
  margin-top: ($gap * 2);
}

.sidebar {
  padding: ($gap * 2);
  background-color: $primary-color-light;
}

.content {
  padding: ($gap * 2);
}

.content > * {
  margin-bottom: ($gap * 2);
}

.side-actions > * {
  margin-bottom: ($gap * 2);
}
</style>

