<template>
  <div class="card">
    <div class="card-header">
      <div class="text-truncate">
        <b>{{ title }}</b>
      </div>
      <div class="subheader">
        <i class="card-subtitle mb-2 text-muted">by {{ userNickname }} on {{ parsedDate }}</i>
      </div>
      <div class="subheader">
        <i class="card-subtitle mb-2 text-muted">in <router-link :to="`/r/${subName}`">/r/{{ subName }}</router-link>  </i>
      </div>
    </div>
    <div class="card-body">
      <template v-if="videoUrl">
        <div class="col-sm-12 col-md-10 col-xl-8 offset-md-1 offset-xl-2">
          <div class="video-wrapper">
            <iframe
              :src="videoUrl"
              allowfullscreen
            />
          </div>
        </div>
      </template>

      <template v-else-if="imageUrl">
        <div class="text-center">
          <img
            :src="imageUrl"
            class="img-fluid"
          >
        </div>
      </template>

      <p v-if="content">
        {{ content }}
      </p>
    </div>
    <div class="card-footer text-dark d-flex justify-content-between">
      <div>
        <a
          v-if="isLoggedIn"
          :class="{ 'card-link': true, 'vote-button': true, ...upvoteClasses }"
          @click="upvoteClick"
        ><BIconArrowUpCircle /></a>
        <a
          v-if="isLoggedIn"
          :class="{ 'card-link': true, 'vote-button': true, ...downvoteClasses }"
          @click="downvoteClick"
        ><BIconArrowDownCircle /></a>
        <a
          v-if="showCommentButton"
          class="card-link vote-button"
          @click="commentClick"
        >
          <BIconCardText />
        </a>
        <i class="score">{{ score }} pts.</i>
      </div>
      <div>
        <template v-if="isPrivileged && isLoggedIn">
          <a
            class="card-link vote-button"
            @click="deleteClick"
          >
            <BIconTrash />
          </a>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { BIconArrowUpCircle, BIconArrowDownCircle, BIconCardText, BIconPen, BIconTrash  } from "bootstrap-icons-vue";
import { ZonedDateTime } from "@js-joda/core";

export default {
  components: {
    BIconArrowUpCircle,
    BIconArrowDownCircle,
    BIconCardText,
    BIconTrash
  },
  props: {
    id: {
      type: Number,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    userNickname: {
      type: String,
      required: true
    },
    creationDate: {
      type: String,
      required: true
    },
    content: {
      type: String,
      required: true
    },
    imageUrl: {
      type: String,
      default: () => null,
      required: false
    },
    videoUrl: {
      type: String,
      default: () => null,
      required: false
    },
    voteStatus: {
      type: String,
      required: true
    }, // upvoted, neutral or downvoted
    score: {
      type: Number,
      required: true
    },
    isPrivileged: Boolean,
    subName: {
      type: String,
      required: true
    },
    showCommentButton: {
      type: Boolean,
      default: () => true
    }
  },
  data () {
    const parsed = ZonedDateTime.parse(this.creationDate);
    const date = parsed.toLocalDate().toString();
    const time = parsed.toLocalTime().toString();
    return {
      parsedDate: `${date} at ${time}`
    };
  },
  computed: {
    upvoteClasses() {
      return {
        "text-success": this.voteStatus === "upvoted"
      };
    },
    downvoteClasses() {
      return {
        "text-danger": this.voteStatus === "downvoted"
      };
    },
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    }
  },
  methods: {
    commentClick() {
      this.$emit("comments", this.$props);
    },
    upvoteClick() {
      this.$emit("upvote", this.$props);
    },
    downvoteClick() {
      this.$emit("downvote", this.$props);
    },
    deleteClick() {
      this.$emit("delete", this.$props);
    }
  }
};
</script>

<style lang="scss" scoped>

$aspect-ratio: (9 / 16) * 100%;

.vote-button {
  font-size: 17.5px
}

.score {
  margin-left: ($gap * 2);
}

.subheader {
  font-size: ($gap * 1.5);
}

.video-wrapper {
  position: relative;
  padding-bottom: $aspect-ratio;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}
</style>
