<template>
  <div class="col-sm-4">
    <div>
      <input
        :value="modelValue"
        :type="inputType"
        class="form-control bordered"
        :placeholder="placeholder"
        @input="$emit('update:modelValue', $event.target.value)"
      >
    </div>
  </div>
</template>

<script>
export default {
  name: "BorderedInput",
  props: {
    modelValue: {
      type: String,
      default: () => ""
    },
    placeholder: {
      type: String,
      default: () => ""
    },
    inputType: {
      type: String,
      default: () => "text"
    }
  },
  methods: {},
};
</script>

<style scoped lang="scss">
.bordered {
  padding: 0.5em;
  border: 1px solid $primary-color;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  color: $primary-text-color;
}
</style>
