<template>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="subheader text-truncate">
        <i class="card-subtitle mb-2 text-muted"><b>{{ user }}:</b></i>
      </div>
      <a
        v-if="isPrivileged && isLoggedIn"
        class="card-link vote-button"
        @click="deleteClick"
      >
        <BIconTrash />
      </a>
    </div>
    <div class="card-body">
      {{ content }}
    </div>
  </div>
</template>

<script>
import {BIconTrash} from "bootstrap-icons-vue";

export default {
  name: "Comment",
  components: {BIconTrash},
  props: {
    id: {
      type: Number,
      required: true
    },
    content: {
      type: String,
      required: true
    },
    userId: {
      type: Number,
      required: true
    },
    postId: {
      type: Number,
      required: true
    },
    subModId: {
      type: Number,
      required: true
    },
    user: {
      type: String,
      required: true
    },
    isPrivileged: Boolean
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    }
  },
  methods: {
    deleteClick() {
      this.$emit("delete", this.$props);
    }
  }
};
</script>

<style scoped lang="scss">

.subheader {
  font-size: ($gap * 1.5);
}

.vote-button {
  font-size: ($gap * 2);
}

</style>
