<template>
  <w-dialog
    v-model="dialog.show"
    :fullscreen="dialog.fullscreen"
    :width="dialog.width"
    transition="bounce"
    persistent
    :persistent-no-animation="dialog.persistentNoAnimation"
    title-class="bg-primary"
  >
    <template #title>
      <div class="text-white">
        {{ title }}
      </div>
    </template>

    <template #default>
      <div class="spacer" />
      <div class="d-flex justify-content-around">
        <outline-button-full-width @click="yesClick">
          Yes
        </outline-button-full-width>
        <outline-button-full-width @click="noClick">
          No
        </outline-button-full-width>
      </div>
    </template>
  </w-dialog>
</template>

<script>
import OutlineButtonFullWidth from "@/components/OutlineButtonFullWidth";

export default {
  name: "ConfirmationDialog",
  components: {OutlineButtonFullWidth},
  props: {
    modelValue: Boolean,
    title: {
      type: String,
      default: ""
    },
    content: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      dialog: {
        show: this.modelValue,
        fullscreen: false,
        persistentNoAnimation: false,
        width: 300
      }
    };
  },
  watch: {
    modelValue(value) {
      this.dialog.show = value;
    }
  },
  methods: {
    yesClick() {
      this.$emit("yes");
      this.$emit("update:modelValue", false);
    },
    noClick() {
      this.$emit("no");
      this.$emit("update:modelValue", false);
    },
  }
};
</script>

