<template>
  <w-notification
    v-model="showNotification"
    dismiss
    plain
    shadow
    bottom
    center
  >
    <div
      class="text-wrap error-message"
    >
      {{ errorMessage }}
    </div>
  </w-notification>
</template>

<script>
export default {
  name: "ErrorPopup",
  props: {
    modelValue: {
      type: Boolean,
      default: () => false
    },
    timeout: {
      type: Number,
      default: () => 5000
    },
    errorMessage: {
      type: String,
      default: () => ""
    }
  },
  data() {
    return {
      showNotification: this.modelValue,
    };
  },
  watch: {
    modelValue(value) {
      this.showNotification = value;
    },
    showNotification(value) {
      this.$emit("update:modelValue", value);
    }
  }
};
</script>

<style lang="scss">
.w-alert {
  background-color: $error-color;
  color: white;
}
</style>

<style scoped lang="scss">
.error-message {
  word-break: break-all;
  font-size: ($gap * 1.5);
}
</style>
