<template>
  <div>
    <nav>
      <div class="responsive-nav">
        <router-link to="/">
          Rededete
        </router-link>
        <div class="secondary-nav">
          <router-link to="/search">
            Search
          </router-link>
          <router-link
            v-if="isLoggedIn"
            to="/profile"
          >
            Profile
          </router-link>
          <a
            v-if="isLoggedIn"
            class="link"
            @click="logout"
          >Logout</a>
          <router-link
            v-else
            to="/login"
          >
            Login
          </router-link>
        </div>
      </div>
    </nav>
    <div
      v-if="isLoggedIn"
      class="subbar"
    >
      <div
        v-if="userSubs.length < 1"
        class="text-muted subbar-not"
      >
        Subscribe to subs to see them listed here...
      </div>
      <router-link
        v-for="sub in userSubs"
        :key="sub"
        class="sub"
        :to="`/r/${sub}`"
      >
        {{ sub }}
      </router-link>
    </div>
  </div>
</template>

<script>

export default {
  name: "Navbar",
  data() {
    return {};
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    },
    userSubs() {
      return this.$store.getters.sortedSubs;
    }
  },
  methods: {
    logout() {
      this.$store.commit("logout");
    }
  }
};
</script>

<style scoped lang="scss">

nav {
  background: $primary-color-dark;
  border-bottom: solid 0.5px $divider-color;
  padding: ($gap * 2);
}

.sub {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}

.subbar-not {
  font-size: ($gap * 1.5);
}

.subbar {
  white-space: nowrap;
  overflow-x: auto;
  padding: 5px;
  background-color: $primary-color-light;
  border-bottom: solid 0.5px $divider-color;
}

.responsive-nav > a {
  color: $primary-color-text;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.responsive-nav {
  display: flex;
  justify-content: space-between;
}

.secondary-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.secondary-nav > * {
  margin: 0 $gap 0 $gap;
}

.secondary-nav > a {
  cursor: pointer;
  font-size: ($gap * 1.5);
  color: $primary-color-text;
  text-decoration: none;
  text-transform: uppercase;
}
</style>
