<template>
  <div class="col-sm-4">
    <button
      type="button"
      class="btn btn-outline-secondary"
    >
      <slot />
    </button>
  </div>
</template>

<script>
export default {
  name: "OutlineButtonSecondary",
};
</script>

