<template>
  <div class="col-sm-4">
    <button
      type="button"
      class="btn btn-outline-primary full-width"
    >
      <slot />
    </button>
  </div>
</template>

<script>
export default {
  name: "OutlineButtonFullWidth",
};
</script>

<style scoped lang="scss">
.full-width {
  width: 100%;
}
</style>
