<template>
  <div class="row">
    <ErrorPopup
      v-model="showNotification"
      :error-message="errorMessage"
    />
    <ConfirmationDialog
      v-model="showDeletionDialog"
      title="Delete post?"
      @yes="confirmDeletion"
    />
    <div
      v-for="post in fetchedPosts"
      :key="post.id"
      class="col-sm-12"
    >
      <base-post
        :id="post.id"
        :title="post.title"
        :video-url="post.videoUrl"
        :content="post.content"
        :image-url="post.imageUrl"
        :vote-status="post.voteStatus"
        :is-privileged="post.isPrivileged"
        :score="post.score"
        :user-nickname="post.userNickname"
        :creation-date="post.creationDate"
        :sub-name="post.subName"
        :show-comment-button="showCommentButton"
        class="post"
        @comments="onCommentsClick"
        @upvote="upvoteClick"
        @downvote="downvoteClick"
        @delete="deleteClick"
      />
    </div>
  </div>
</template>

<script>
import BasePost from "./BasePost.vue";
import {vote, deletePost} from "@/api/post";
import ConfirmationDialog from "@/components/ConfirmationDialog";
import ErrorPopup from "@/components/ErrorPopup";

export default {
  name: "PostPage",
  components: {ErrorPopup, ConfirmationDialog, BasePost},
  props: {
    modelValue: {
      type: Array,
      default: () => [],
    },
    showCommentButton: {
      type: Boolean,
      default: () => true
    }
  },
  data() {
    return {
      showNotification: false,
      errorMessage: "",
      fetchedPosts: this.modelValue,
      focusedPost: null,
      showDeletionDialog: false
    };
  },
  watch: {
    modelValue(value) {
      this.fetchedPosts = value;
    }
  },
  methods: {
    onCommentsClick(post) {
      this.$router.push({path: `/r/${post.subName}/${post.id}`});
    },
    upvoteClick(post) {
      this.handleVoting(post, "upvoted");
    },
    downvoteClick(post) {
      this.handleVoting(post, "downvoted");
    },
    deleteClick(post) {
      this.focusedPost = post;
      this.showDeletionDialog = true;
    },
    confirmDeletion() {
      deletePost(this.focusedPost.id, this.$store.state.email, this.$store.state.password)
        .then(() => {
            this.deleteLocalPost(this.focusedPost.id);
            this.focusedPost = null;
          }
        ).catch(err => window.alert(err.response.data.message));
    },
    postById(id) {
      return this.fetchedPosts.filter(p => p.id === id)[0];
    },
    deleteLocalPost(id) {
      const withoutDeleted = this.fetchedPosts.filter(p => p.id !== id);
      this.$emit("update:modelValue", withoutDeleted);
      this.fetchedPosts = this.fetchedPosts.filter(p => p.id !== id);
    },
    nextState(currState, actionState) {
      return currState === "neutral" ? actionState : "neutral";
    },
    scoreUpdate(currentScore, currState, actionState) {
      const nextState = this.nextState(currState, actionState);
      if (currState === "neutral" && nextState === "upvoted")
        return currentScore + 1;
      else if (currState === "neutral" && nextState === "downvoted")
        return currentScore - 1;
      else if (currState === "downvoted")
        return currentScore + 1;
      else return currentScore - 1;
    },
    handleVoting(post, status) {
      const fetchedPost = this.postById(post.id);
      const currState = fetchedPost.voteStatus;
      const nextState = this.nextState(currState, status);
      const updatedScore = this.scoreUpdate(fetchedPost.score, currState, status);
      vote(fetchedPost.id, nextState, this.$store.state.email, this.$store.state.password)
        .then(() => {
          fetchedPost.voteStatus = nextState;
          fetchedPost.score = updatedScore;
        })
        .catch(err => {
          this.errorMessage = err.response.data.message;
          this.showNotification = true;
        });
    }
  }
};
</script>

<style scoped lang="scss">

.post {
  margin-bottom: ($gap * 2);
}

</style>
