<template>
  <div class="card">
    <div class="card-header">
      <div class="text-truncate">
        <router-link :to="`/r/${subName}`">
          <b>/r/{{ subName }}</b>
        </router-link>
      </div>
    </div>
    <div
      v-if="subDesc"
      class="card-body"
    >
      {{ subDesc }}
    </div>
  </div>
</template>

<script>
export default {
  name: "SubPreview",
  props: {
    subName: {
      type: String,
      required: true
    },
    subDesc: {
      type: String,
      required: true
    }
  }
};
</script>
